.news-letter-heading {
  /* text-align: start; */
  padding-left: 30px;
}

.input-box {
  padding-left: 40px;
}

@media screen and (max-width: 600px) {
  .news-letter-heading {
    text-align: center;
    padding-left: 0;
  }
  .input-box {
    padding-left: 10px;
  }
  .btn-div {
    text-align: center;
  }
}
